# Python venv
brainboost-ml/venv/
BrainBoost-backend/node_modules/
BrainBoost/node_modules/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Large data files
brainboost-ml/data/*.csv
brainboost-ml/data/*.csv.gz
brainboost-ml/data/*.pkl
